@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

.gallery-section {
  padding: 3.8rem 2rem 0;
  margin-bottom: 7.5rem;
}
.gallery-section h1 {
  text-align: center;
  color: #eb2629;
  letter-spacing: 0.005em;
}
.gallery-section .section-title {
  text-align: center;
  color: #858585;
  margin-top: 20px;
  margin-bottom: 20px;
}
.gallery-section img {
  width: 400px !important;
  height: 300px !important;
  object-fit: cover;
}
