.Menu_sec1 {
  position: relative;
  height: 400px;
}
.Menu_sec1 .Header {
  position: absolute;
  z-index: 999;
  bottom: 50px;
  top: 0;
}
.Menu_sec1 .Header .logo {
  width: 54%;
  height: 50%;
  padding-top: 23px;
}
.Menu_sec1 .Header .soonText {
  color: rgb(185 185 185);
}
.Menu_sec1 .BrandsSwiper {
  position: absolute;
  bottom: 3px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #f5f5f5;
  padding: 15px;
}
.Menu_sec1 .BrandsSwiper .swiper {
  width: 70%;
}
.Menu_sec1 .BrandsSwiper .Brand_Card {
  width: 60% !important;
  margin: auto !important;
}
.Menu_sec1 .Brand_Card img {
  width: 70px;
  height: 75px;
  object-fit: contain;
}
.swiper-button-next,
.swiper-button-prev {
  top: 55% !important;
  color: #000000 !important;
  background-color: rgb(189 189 189 /0%) !important;
  width: 20px !important;
  height: 20px !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 3px !important;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 3px !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px !important;
}
/* Brand Desc */
.Brand_Desc {
  background-color: #f5f5f5;
  margin: auto;
  margin-top: 50px;
  width: 70%;
  padding: 35px;
  text-align: center;
  border-radius: 15px;
}
.Brand_Desc h6 {
  font-family: "Pacifico", cursive;
}
.Brand_Desc p {
  font-size: 14px;
  font-weight: 600;
  padding: 20px;
}
.Brand_Cat {
  padding: 10px;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}
.Brand_Cat .swiper-wrapper {
  padding-left: 0 !important;
}
.Brand_Cat p {
  padding: 5px;
  font-size: 16px;
  margin: 0 10px;
  font-weight: 700;
  background-color: #ffeaeb;
  color: #595959;
  text-align: center;
  border-radius: 10px;
  height: 30px;
}
.Brand_Menu {
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5%;
}
.Brand_Menu .Recipe_Card {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 120px;
  width: 40%;
  padding: 22px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 20px;
  border-radius: 15px;
}
.Brand_Menu .Recipe_Card .Recipe_img {
  position: absolute;
  left: -112px;
  width: 49%;
  top: -66px;
}
.Brand_Menu .Recipe_Card .Recipe_info {
  width: 60%;
  padding: 5px;
}
.Brand_Menu .Recipe_Card .Recipe_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}
.Brand_Menu .Recipe_Card .Recipe_info h6 {
  font-size: 16px;
}

.Brand_Menu .Recipe_Card .Recipe_info p {
  color: #a3a3a3;
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 600;
  font-family: "Comfortaa", sans-serif;
}
.Brand_Menu .Recipe_Card .Recipe_info .price {
  position: absolute;
  right: 10px;
  top: 33%;
}
.Brand_Menu .Recipe_Card .Recipe_info span {
  color: #000000;
  font-size: 31px;
  font-weight: 600;
  font-family: "Comfortaa", sans-serif;
}
.Brand_Menu .Recipe_Card .Recipe_info span #currency {
  color: #ff0000;
  font-family: "REM", sans-serif;
}
#star {
  color: #ffa200;
  font-size: 20px;
}

@media screen and (max-width: 767px) {
  /* Menu Section one Header and Brand Slider */
  .Menu_sec1 {
    position: relative;
    height: 30vh;
  }
  .Menu_sec1 .Header {
    position: absolute;
    z-index: 999;
  }
  .Menu_sec1 .Header .logo {
    width: 54%;
    height: 50%;
    padding-top: 23px;
  }
  .Menu_sec1 .Header .soonText {
    color: rgb(185 185 185);
  }
  .Menu_sec1 .BrandsSwiper {
    position: absolute;
    bottom: 3px;
    width: 100%;
    right: 0;
    padding: 0;
    height: 90px;
    z-index: 1000;
    background-color: #ededed;
    margin: 0;
    border-radius: 0;
  }
  .Menu_sec1 .BrandsSwiper .swiper {
    width: 100%;
  }
  .Menu_sec1 .BrandsSwiper .Brand_Card {
    width: 60% !important;
    margin: auto !important;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Menu_sec1 .Brand_Card img {
    width: 80%;
    height: 80%;
    object-fit: contain;
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 55% !important;
    color: #000000 !important;
    background-color: rgb(189 189 189 / 0%) !important;
    padding: 20px;
    width: 40px !important;
    height: 40px !important;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: -10px !important;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -10px !important;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 16px !important;
    font-weight: 700;
  }
  /* Brand Desc */
  .Brand_Desc {
    background-color: #f5f5f500;
    margin: 0px;
    padding-top: 0px;
    padding: 0;
    text-align: start;
    border-radius: 15px;
    width: 100%;
  }
  .Brand_Desc h6 {
    font-family: "Pacifico", cursive;
  }
  .Brand_Desc p {
    font-size: 12px;
    font-weight: 600;
    padding: 4px;
  }
  .Brand_Cat {
    margin: 5px;
    padding: 0px;
  }
  .Brand_Cat .swiper-wrapper {
    padding-left: 0 !important;
  }
  .Brand_Cat p {
    padding: 5px;
    font-size: 10px;
    margin: 0 10px;
    font-weight: 700;
    background-color: #ffeaeb;
    color: #595959;
    text-align: center;
    border-radius: 10px;
    height: 22px;
  }
  .Brand_Menu {
    margin: auto;
    display: block;
    width: 100%;
  }
  .Brand_Menu .Recipe_Card {
    margin: auto;
    position: relative;
    height: 75px;
    width: 75%;
    padding: 0px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 20px;
    border-radius: 15px;
  }
  .Brand_Menu .Recipe_Card .Recipe_img {
    position: absolute;
    left: -69px;
    width: 49%;
    top: -35px;
  }
  .Brand_Menu .Recipe_Card .Recipe_info {
    width: 60%;
    padding: 5px;
  }
  .Brand_Menu .Recipe_Card .Recipe_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
  }
  .Brand_Menu .Recipe_Card .Recipe_info h6 {
    font-size: 12px;
  }

  .Brand_Menu .Recipe_Card .Recipe_info p {
    color: #a3a3a3;
    font-size: 8px;
    margin-bottom: 5px;
    font-weight: 600;
    font-family: "Comfortaa", sans-serif;
  }
  .Brand_Menu .Recipe_Card .Recipe_info .price {
    position: absolute;
    right: 10px;
    top: 33%;
  }
  .Brand_Menu .Recipe_Card .Recipe_info span {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    font-family: "Comfortaa", sans-serif;
  }
  .Brand_Menu .Recipe_Card .Recipe_info span #currency {
    color: #ff0000;
    font-family: "REM", sans-serif;
  }
  #star {
    color: #ffa200;
    font-size: 20px;
  }
}
