/* Footer Styles */
.footer {
  position: relative;
  background-image: url("../../Assets/images/vecteezy_abstract-red-fluid-wave-background_.jpg");
  background-size: cover;
  object-fit: cover;
  height: 300px;
  z-index: 98;
  margin: 50px;
  margin-bottom: 30px;
  border-radius: 20px;
}

.SosialMidiaIcons {
  height: 100px;
  padding-top: 130px;
  display: flex;
  justify-content: center;
}

.SosialMidiaIcons a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50%;
}

.SosialMidiaIcons a i {
  font-size: 2em;
  opacity: 0.9;
  color: white;
}

.FooterBottom {
  padding-top: 80px !important;
  color: white;
  text-align: center;
  padding: 10px;
}
.FooterBottom a {
  text-decoration: none;
  color: rgb(197, 202, 207);
}
@media screen and (max-width: 640px) {
  .footer {
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    background-position: bottom;
    background-size: auto;
  }
  .footer .SosialMidiaIcons,
  .footer .FooterBottom {
    padding-top: 0 !important;
  }
  .SosialMidiaIcons {
    height: 60px;
  }
  .SosialMidiaIcons a i {
    font-size: 1em;
  }
  .FooterBottom p {
    font-size: 10px;
  }
}
